// Windows resources: the Explorer icon and the version shown in file properties.
1 ICON "assets/bomberman.ico"

1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040704B0"
    BEGIN
      VALUE "FileDescription", "Bomberman"
      VALUE "ProductName", "Bomberman L4D"
      VALUE "FileVersion", "0.1.0"
      VALUE "ProductVersion", "0.1.0"
      VALUE "OriginalFilename", "bomberman.exe"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0407, 1200
  END
END
